#main {
    margin: auto;
    width: 700 px;
    border: black;
}

#detailImg {
    margin: auto;
    width: 500px;
}

#header {
    text-align: center;
    width: 100%;
}

body {
    background-color: rgba(213, 213, 213, 0.11);
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    background: #0e0e0e;
    text-align: center;
    padding: 10px;
}

div.img {
    margin: 5px;
    border: 1px solid rgba(204, 204, 204, 0.73);
    float: left;
    width: 150px;
    display: inline;
}